.card-box{
    border-radius: 1.5rem;
    box-shadow: 0px 20px 24px 0px rgba(0, 0, 0, 0.10);
    color: #FFF;
}

.join-us {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../../assets/image/joinUs.png");
}

.join{
    padding: 1rem;
}