.hero-image{
    text-align: center;
    width: 100%;
    max-width: 41re;
}

.hero-title {
    font-size: 2rem;
}

.img-play{
    width: 200px;
}

@media(min-width: 768px){
    .hero-image{
        text-align: center;
    }
    
    .img-play{
        text-align: center;
    }
    .hero-title {
        font-size: 3rem;
    }
}

@media(min-width: 992px){
    .image{
        margin-left: 100px;
    }
}